
/**
deer-ui 默认主题配置
*/

@primary-color: #31c27c;
@warning-color: #fca130;
@error-color: #f93e3e;
@success-color: #35C613;
@info-color: #61affe;
@default-color: #d9d9d9;

@border-color: #e8e8e8;
@border-radius: 4px;
@font-size: 14px;
@font-size-small: 12px;
@font-size-large: 16px;
@bg-color: #FAFAFA;
@font-color: rgba(0, 0, 0, .65);
@disabled-font-color: fade(@font-color, 30%);

//动画时间
@loading-time: 1.5s;
@loading-opacity: .7;
@animate-time : .5s;
@animate-type: cubic-bezier(0.165, 0.84, 0.44, 1);
@animate-type-easy-in-out: cubic-bezier(.9, .25, .08, .83);
@default-transition: @animate-time @animate-type;



//Collapse
@collapse-animate-time: .4s;


//codeView
@codeView-default-font-size: 14px;
@codeView-default-border-color: @primary-color;
@codeView-default-border-radius: 10px;

//Button

@button-default-padding: 0 30px;
@button-default-font-size: 14px;
@button-default-height: 40px;
@button-default-width: 40px;
@button-default-border-radius: 5px;

@button-small-font-size: 12px;
@button-small-padding: 0 10px;
@button-small-height: 30px;

@button-large-font-size: 16px;
@button-large-padding: 0 40px;
@button-large-height: 50px;
@button-disabled-opacity: .7;
